.box {
	background: cornflowerblue;
	height: 100px;
	width: 100px;
	/* transition-duration: 1s;
	transition-property: transform; */
	transition: transform 1s steps(6),
							background 2s ease-out;	/* shorthand method */
}

.box:hover {
	background: yellowgreen;
	transform: translateX(30px);
}