body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    letter-spacing: -0.011em;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    color: #34495e;
    background: #f8f9fa;
}

.title {
    position: relative;
    width: 600px;
    margin-bottom: 0.2em;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
}

.description {
    max-width: 40em;
    margin-bottom: 1.0em;
    font-size: 0.9em;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.4em;
    opacity: 0.5;
}

svg text {
    fill: #273848;
}

.wrapper {
    position: relative;
}

.bounds-background {
	fill: white;
}

.x-axis-label {
    font-size: 1.4em;
}

.y-axis-label {
    font-size: 1.4em;
    text-anchor: middle;
    transform: rotate(-90deg);
}

.tick line,
.domain {
    stroke: #cfd4d8;
}

circle {
    fill: cornflowerblue;
}

.voronoi {
    fill: transparent;
}

.histogram-area {
    fill: #cbd2d7;
}

.right-histogram {
    transform-origin: 0 70px;
}

.tooltip-dot {
    fill: none;
    stroke: #6F1E51;
    stroke-width: 2px;
}

.hover-line {
    fill: #5758BB;
    transition: all 0.2s ease-out;
    opacity: 0.5;
    pointer-events: none;
    mix-blend-mode: color-burn;
}

.tooltip {
    opacity: 0;
    position: absolute;
    top: -14px;
    left: 0px;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.9em;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.1s ease-out;
    pointer-events: none;
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.tooltip-date {
    margin-bottom: 0.2em;
    font-weight: 600;
    font-size: 1.1em;
    line-height: 1.4em;
}

.legend-value {
    font-size: 0.76em;
    text-anchor: middle;
    transition: all 0.2s ease-out;
}

.legend-tick {
    stroke: #34495e;
}

.legend-highlight-bar {
    fill: rgba(255, 255, 255, 0.3);
    stroke: white;
    stroke-width: 2px;
    pointer-events: none;
    shape-rendering: crispEdges;
}

.legend-highlight-text {
    text-anchor: middle;
    font-size: 0.8em;
}