body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5em 2em;
	letter-spacing: 0.05em;
	font-family: 'SF Pro Display', sans-serif;
	font-size: 16px;
	color: #34495e;
	background: #f8f9fa;
}

table {
	border-collapse: collapse;
}

thead th {
	position: sticky;
	top: 0;
	color: #f8f9fa;
	background: #34495e;
	padding: 1em 0.8rem;
}

tbody tr:nth-child(odd) {
	background: #e3e3e3;
}

tbody tr:hover {
	background: #d7ecec;
}

td {
	padding: 0.8em 0.8rem;
}

.number {
	text-align: right;
}

.date {
	text-align: right;
}

tbody .marker {
	font-size: 0.7em;
}

tbody .symbol {
	opacity: 0.6;
}

.centered {
	text-align: center;
}

tbody .text {
	font-size: 0.9em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
