body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em 2em;
	font-family: 'SF Pro Display', sans-serif;
	font-size: 16px;
	color: #34495e;
	background: #f8f9fa;
}

.title {
	position: relative;
	width: 600px;
	margin-top: 1.3em;
	margin-bottom: 0.3em;
	line-height: 1.2em;
	display: flex;
	justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
	font-feature-settings: 'tnum' 1;
}

.grid-line {
	fill: none;
	stroke: #dadadd;
}

.tick-label {
	dominant-baseline: middle;
	fill: #8395a7;
	font-size: 0.7em;
	font-weight: 700;
	letter-spacing: 0.005em;
}

.tick-label-temperature {
	fill: #8395a7;
	opacity: 0.7;
	font-size: 0.7em;
	dominant-baseline: middle;
}

.freezing-circle {
	fill: #00d2d3;
	opacity: 0.15;
}

.uv-line {
	stroke: #feca57;
	stroke-width: 2;
}

.cloud-dot {
	fill: #c8d6e5;
	opacity: 0.6;
}

.precipitation-dot {
	opacity: 0.5;
}

.annotation-line {
	stroke: #34495e;
	opacity: 0.4;
}

.annotation-text {
	fill: #34495e;
	font-size: 0.7em;
	dominant-baseline: middle;
}

svg {
	overflow: visible;
}

.listener-circle {
	fill: transparent;
}

.wrapper {
	position: relative;
}

.tooltip {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 15em;
	padding: 0.6em 1em;
	background: #fff;
	text-align: center;
	line-height: 1.4em;
	font-size: 0.9em;
	border: 1px solid #ddd;
	z-index: 10;
	pointer-events: none;
}

.tooltip-date {
	margin-bottom: 0.2em;
	font-weight: 600;
	font-size: 1.1em;
	line-height: 1.4em;
}

.tooltip-temperature {
	font-feature-settings: 'tnum' 1;
}

.tooltip-metric {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 0.8em;
	line-height: 1.3em;
	transition: all 0.1em ease-out;
}

.tooltip-metric div:first-child {
	font-weight: 800;
	padding-right: 1em;
}

.tooltip-metric div:nth-child(2) {
	font-feature-settings: 'tnum' 1;
}

.tooltip-cloud {
	color: #8395a7;
}

.tooltip-uv {
	color: #feca57;
}

.tooltip-line {
	fill: #8395a7;
	fill-opacity: 0.2;
	mix-blend-mode: multiply;
	pointer-events: none;
}
